@define-color error #F96184;
@define-color foreground #D3D9FF;
@define-color success #01D38F;

#custom-mullvad {
  min-width: 14px;
  margin: 0 7.5px;
}

#custom-mullvad.connecting {
  color: @foreground;
}
#custom-mullvad.connected {
  color: @success;
}
#custom-mullvad.disconnected {
  font-size: 16px;
  margin: 0 7.5px 0 4.5px;
  color: @error;
}
